.container{
    display: flex;
    justify-content: center;
    margin: 12px;
}
.containerCard{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    gap: 12px;
}
.addCartContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img{
    border-radius: 15px;
}
.dataSheetContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.addCart{
    margin-top: 12px;
    width: 70%;
}
.input{
    padding: 8px;
    border-color: #20262E;
    border-radius: 15px 0 0 15px;
}
.btn{
    border: 0;
    padding: 10px;
    border-radius: 15px;
    background-color: #dc4a32;
    color: white;
    cursor: pointer;
    width: 100%;
    transition: all ease .2s;
    box-shadow: 0px 4px 3px 0px #282425;
    margin: 7px 0;
}
.btn:hover{
    transform: translateY(-3px);
}

.btn:active{
    transform: translateY(3px);
    box-shadow: 0px 2px 1px 0px #282425;
}

.p{
    margin: 15px 0;
    text-align: start;
}
.description{
    margin: 10px 0;
    width: 100%;
}

.table{
    table-layout: fixed;
    border: 2px solid #282425;
    border-radius: 20px;
    border-spacing: 0;
}
.thead{
    background-color: #282425;
    color: #fcfcfc;
    width: 100%;
}
.th{
    padding: 10px;
    font-weight: 700;
    text-transform: uppercase;
    width: 70%;
    border-radius: 15px 0px 0 0;
}
.th2{
    border-radius:0 15px 0 0;
    padding: 10px;
    font-weight: 700;
    text-transform: uppercase;
}
.td{
    padding: 10px;
    /* border-bottom: 1px solid #282425; */
    /* border-radius: 0 0 15px 15px ; */
}
.tr{
    transition: all .1s ease;
}
.tr:hover{
    background-color: #f5f5f5;
}
@media (min-width: 585px) {
    .description{
        width: 555px;
    }
}

@media (min-width: 768px) {
    .card{
        flex-direction: row;
    }
    .addCartContainer{
        align-items: flex-start;
        margin: auto 0;
        padding: 10px
    }
}