.container{
    display: flex;
    justify-content: center;
    margin: 12px;
}
.containerCard{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    gap: 5px;
}
.img{
    border-radius: 15px;
}
.dataSheetContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.addCart{
    margin-top: 12px;
    width: 70%;
}
.input{
    padding: 8px;
    border-color: #20262E;
    border-radius: 15px 0 0 15px;
}
.btn{
    border: 0;
    padding: 10px;
    border-radius: 15px;
    background-color: #20262E;
    color: white;
    cursor: pointer;
    width: 100%;
}
.p{
    margin: 15px 0;
}
.dataSheetContainer{
    border: 1px solid red;
}

.table{
    table-layout: fixed;
    border: 2px solid #ebebeb;
    border-radius: 15px;
    /* border-collapse: separate; */
    border-spacing: 0;
    /* width: 100%; */
}
.thead{
    background-color: #ebebeb;
    width: 100%;
}
.th{
    padding: 10px;
    font-weight: 700;
    text-transform: uppercase;
    width: 70%;
    border-radius: 15px 0px 0 0;
}
.th2{
    border-radius:0 15px 0 0;
    padding: 10px;
    font-weight: 700;
    text-transform: uppercase;

}
.td{
    padding: 10px;
    border-bottom: 1px solid #ebebeb;
}
.tr:hover{
    background-color: #f5f5f5;
}

@media (min-width: 768px) {
    .card{
        flex-direction: row;
    }
    .addCartContainer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: auto 0;
        padding: 10px
    }
}