.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #20262E;
    color: white;
    position: sticky;
    top: 0;
    padding: 4px;
}
.logoAndName{
    display: flex;
    align-items: center;
}
.link{
    color: white;
    text-decoration: none;
}