.container{
    background-color: #282425;
    color: white;
    position: sticky;
    top: 0;
    padding: 4px;
    border-radius: 0 0 15px 15px;
    z-index: 1;
}
.maxwidth{
    max-width: 75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.logoAndName{
    display: flex;
    align-items: center;
    background-color: #fcfcfc;
    border-radius: 15px;
    margin: 10px 0;
}
.logo{
    width: 180px;
    height: 50px;
}
.link{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 0 12px;
}
.imgUser{
    border-radius: 50%;
    border: 2px solid var(--orangeOne);
    cursor: pointer;
}
.containerIcons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.totalUnits{
    font-size: 18px;
}
.modal{
    position: absolute;
    top: 100%;
    right: 5%;
    background-color: #282425;
    border-radius: 0 0 15px 15px;
}
.modalInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px;
}
.modalInfo > p {
    color: var(--white);
    border-bottom: 1px solid var(--white);
    width: 100%;
    margin: 2px 0;
    cursor: pointer;
    text-align: center;
}

.modalInfo > p:hover {
    border-bottom: 1px solid var(--orangeThree);
}

@media (min-width:425px) {
    .logo{
        width: 250px;
    }
    .link{
        margin: 0;
    }
    .containerIcons{
        gap: 20px;
    }
}